<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first Node website</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Who is Elon Musk?</h1> 
   <article>
<p>Elon Reeve Musk FRS (/ˈiːlɒn/ EE-lon; born June 28, 1971) is a 
business magnate, industrial designer and engineer. He is the 
founder, CEO, CTO and chief designer of SpaceX; early investor,
CEO and product architect of Tesla, Inc.; founder of The Boring 
Company; co-founder of Neuralink; and co-founder and initial 
co-chairman of OpenAI. A centibillionaire, Musk became the 
richest person in the world in January 2021, surpassing Jeff Bezos.</p>
</article>
<div class="links">
    <a href="/">Home</a>
    <a href="/work">Works</a>
    <a href="/gallery">Photo gallery</a>
    </div>
</body>
</html>