<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first Node website</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main>
        <h1>Photo gallery</h1>
        <div class="photo-container">
          <img class="photo" src="/images/tesla.png" />
          <img class="photo" src="/images/auto.jfif" />
          <img class="photo" src="/images/auto1.jfif" />
        </div>
        <div class="links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/work">Works</a>
            </div>
        </main>
</body>
</html>