<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first Node website</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main class="companies">
        <h1>Companies founded</h1>
        <ul>
            <li>Zip 2</li>
            <li>PayPal</li>
            <li>Tesla</li>
            <li>Solar City</li>
            <li>Tesla Energy</li>
            <li>Neuralink</li>
           
        </ul>
        <div class="links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/gallery">Photo gallery</a>
            </div>
    </main>
</body>
</html>